<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline.css"
/>
<div
  id="waline"
  class="mt-5"
  style="background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.1)); backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); border: 1px solid rgba(255,255,255,0.3); border-radius: 16px; box-shadow: 0 1px 24px rgba(0,0,0,0.1); padding: 16px 20px;"
>
</div>
<script type="module">
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

  init({
    el: "#waline",
    serverURL: "https://waline.904002.xyz/",
    path: window.location.pathname.replace(/\/$/, ""),
    lang: "zh-CN",
    emoji: [
      "https://unpkg.com/@waline/emojis@1.2.0/bilibili",
      "https://unpkg.com/@waline/emojis@1.4.0/bmoji",
      "https://unpkg.com/@waline/emojis@1.4.0/qq",
      "https://unpkg.com/@waline/emojis@1.2.0/weibo",
    ],
    dark: "html.dark",
    commentSorting: "latest",
    meta: ["nick", "mail", "link"],
    requiredMeta: ["nick", "mail"],
    login: "enable",
    wordLimit: 0,
    pageSize: 10,
    imageUploader: true,
    highlighter: true,
    search: true,
    noRss: false,
    reaction: false,
    comment: true,
    pageview: false,
    math: true,
    sortBy: "insertTimeDesc",
    visitor: true,
    placeholder: "欢迎留言评论...",
  });
</script>
